@tailwind components;
@tailwind utilities;
@tailwind base;

@import '~antd/dist/antd.css';

body{
  user-select: none;
}

.drag {
  -webkit-app-region: drag;
}

.setting-drawer .ant-drawer-body {
  padding: 0;
}
.setting-drawer .ant-tabs-tab-btn {
  width: 25vw;
  text-align: center;
}

@media (max-width: 575px) {
  .setting-form .ant-form-item-label,
  .setting-form .ant-form-item-control {
    flex: 0 0 50% !important;
  }
}

.about p {
  @apply py-2;
}
.about .label::after {
  content: ' : ';
}

.ant-switch {
  background-color: rgba(255, 255, 255, 0.3);
}

.ant-switch-checked {
  background-color: #177ddc;
}